body{
    margin:20px;
}

canvas{
    width:100%;
    margin-left: 5%;
  }
  
  #btn{
    margin:auto;
    display: block;
    margin-top: 20px;
  }

  #container{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
}